@import "components/color" ;

//Define primary color and stuff
$primary-color: color("orange", "lighten-1") !default;
$secondary-color: color("cyan", "darken-1") !default;
$input-bg-color: $primary-color;
@import "materialize" ;


.img-logo {
  height : 64px ; 
}

.main {
  background : white ; 
  border-bottom : 5px ; 
}

body {
  background : #eee ; 


}

@media only screen and (max-width: 992px){
  body nav .brand-logo {
   left:0; 
   transform: none ; 
 } 
}

h4.adjustable {
  &:before {
    content: "thematique : ";
    position: absolute;
    top: -1.5em;
    
  }
  font-size: 14px;
  position:relative ;
  line-height: 150%; 
}
@media only screen and (max-width: 1550px){
  h4.adjustable {
    font-size: calc(1vw);
    width: 80%;
  }
}
@media only screen and (max-width: 992px){
  h4.adjustable {
    font-size: calc(1.5vw);
  }
}


.collapsible.targetProfile {
  border : none ; 
  box-shadow : none ; 
  .collapsible-header {
    span {
      color : $secondary-color ;
      font-size : 1em ; 
    }
    border-bottom : none ;
  }
  .collapsible-body {
    border-bottom : none ;
  }
}

.onglets {
  margin-bottom: 0 !important;
  .col {
    padding : 0 !important ; 
  } 

}
//Import my own stuf

.tabs .tab a.active {
  @extend .z-depth-1-half; 
  background-color : $secondary-color;
  color : white ; 
}
nav {
  background-color : transparent !important ;
  margin-bottom: 0px !important ;
  box-shadow : none !important ; 

  .nav-wrapper {
    background-color : $primary-color ;
    box-shadow : none !important ; 
  }
}
img.clip {
  max-width: 640px ;
  object-fit: cover ;  
  object-position: 50% calc( 50% - 42px ) ; 
  margin : 0px auto ; 
  display: block ;
  
}
.input-field:not(.radioGroup) label {
  color : $secondary-color !important;
}
.radioGroup{
  label {
    position: absolute;
    color : black ; 
    top: -14px;
    font-size: 0.8rem;
  } 
  span {
    margin-top: 23px ;
  }
  margin-bottom: 20px;
}
p.title {
  text-align:justify;
  i {
    margin-right: 1em;
    font-size: 1.5rem;
  }
}
.no-Vmargin{
  margin-top: 0 !important ; 
  margin-bottom: 0 !important; 
}
.small-VPading {
  padding-top: 2px !important; 
  padding-bottom : 2px !important;
}

.accent_0 {
  font-size:  0.7em;
  font-weight: font-weight 200 ;
}
.accent_1 {
  font-size:  0.8em;
  font-weight: font-weight 300 ;
}
.accent_2 {
  font-size:  0.9em;
  font-weight: font-weight 400 ;
}
.accent_3 {
  font-size:  1em;
  font-weight: font-weight 400 ; ;
}
.accent_4 {
  font-size:  1.1em;
  font-weight: font-weight 400 ;
}
.accent_5 {
  font-size:  1.2em;
  font-weight:  500;
}
.accent_6 {
  font-size:  1.3em;
  font-weight: 600;
}

p.justified {
  text-align:justify;
}
span.italic {
  font-style: italic ;
}
span.brand {
  color : color( "blue-grey", 'darken-2') ; 
  font-style: italic ;
}
//coucou #dimitri
.bold {
  font-weight: bold ; 
  color : color( "blue-grey", 'darken-2') ; 
}
body ul.browser-default li {
  list-style-type: initial !important;
  margin-left : 1em ;
}
body #a0-lock.a0-theme-default {
  .a0-nocentrix {
    @extend .row ;
  }
  .a0-panel{

   @extend .col ;
   @extend .s12 ;
   @extend .m10 ;
   @extend .offset-m1 ;
   @extend .l6 ;
   @extend .offset-l3 ;
   @extend .z-depth-1;
   padding : 0 !important ;
   .a0-top-header {
    background : $primary-color ; 
    color : white ;
    
    .a0-bg-gradient {
      background : transparent ;
    }
  }


}

}
tr {

  i:not(.gray) {
    color:  $primary-color ; 
  }
  td:nth-child( 2 ) {
    border-right : 1px solid rgba(0,0,0,0.1) ;
  }
}

/***************
Range
***************/
@import "./slider_3positions" ;
@import "./slider_5positions" ;
@import "./slider_resultat" ;
/***************
Profile filter 
***************/

@import "./profileFilter" ;


