
.range-field {
  position: relative;
}
.dialoJ-range {
  input.slider-resultat[type=range], input.slider-resultat[type=range] + .thumb {
    @extend .no-select;
    cursor: pointer;
  }

  input.slider-resultat[type=range] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 15px 0px;
    padding: 0;
  }
  input.slider-resultat[type=range] + .thumb {
    position: absolute;
    visibility: none ;
    border: none;
    height: 0;
    width: 0;
    border-radius: 0;
    background-color: transparent;
    top: 10px;
    margin-left: -6px;

    transform-origin: 50% 50%;
    transform: rotate(-45deg);

    .value {
      display: block;
      width: 30px;
      text-align: center;
      color: black;
      font-size: 0;
      transform: rotate(45deg);
    }

    &.active {
      border-radius: 0;

      .value {
        visibility: hidden !important ;
        color: $input-bg-color;
        margin-left: -1px;
        margin-top: 8px;
        font-size: 10px;
      }
    }
  }


  input.slider-resultat[type=range]:focus {
    outline: none;
  }

  
  input.slider-resultat[type=range]{
    -webkit-appearance: none;
  }



  @mixin sliderBackground($color) {
    $color1 : color($color, "darken-2") ;
    $color2 : color($color, "base") ;
    $color3 : color($color, "lighten-2") ;
    $color4 : color($color, "lighten-4") ;

    background: $color1 ; 
    background: -webkit-repeating-linear-gradient(-90deg, $color1, $color1  14.3%, $color2 14.4%, $color2 28.5%, $color3 28.6%, $color3 42.8%, $color4  42.9%, $color4 57.1%, $color3 57.2%, $color3 71.4%, $color2 71.5%, $color2 85.7%, $color1  85.8%, $color1 100%);
    background: -o-repeating-linear-gradient(-90deg, $color1 , $color1 14.3%, $color2 14.4%, $color2 28.5%, $color3 28.6%, $color3 42.8%, $color4  42.9%, $color4 57.1%, $color3 57.2%, $color3 71.4%, $color2 71.5%, $color2 85.7%, $color1 85.8%, $color1  100%);
    background: -moz-repeating-linear-gradient(-90deg, $color1 , $color1 14.3%, $color2 14.4%, $color2 28.5%, $color3 28.6%, $color3 42.8%, $color4  42.9%, $color4 57.1%, $color3 57.2%, $color3 71.4%, $color2 71.5%, $color2 85.7%, $color1 85.8%, $color1  100%);
    background: repeating-linear-gradient(-90deg, $color1, $color1  14.3%, $color2 14.4%, $color2 28.5%, $color3 28.6%, $color3 42.8%, $color4  42.9%, $color4 57.1%, $color3 57.2%, $color3 71.4%, $color2 71.5%, $color2 85.7%, $color1  85.8%, $color1 100%);
  }

  @mixin sliderBackground_3($color) {
    $color1 : color($color, "darken-2") ;
    $color2 : color($color, "lighten-1") ;
    $color4 : color($color, "lighten-4") ;

    background: $color1 ; 
    background: -webkit-repeating-linear-gradient(-90deg, $color1, $color1 42.8%, $color4  42.9%, $color4 57.1%, $color1  57.2%, $color1 100%);
    background: -o-repeating-linear-gradient(-90deg, $color1 , $color 42.8%, $color4  42.9%, $color4 57.1%, $color1 57.2%, $color1  100%);
    background: -moz-repeating-linear-gradient(-90deg, $color1 , $color 42.8%, $color4  42.9%, $color4 57.1%, $color1 57.2%, $color1  100%);
    background: repeating-linear-gradient(-90deg, $color1, $color1 42.8%, $color4  42.9%, $color4 57.1%, $color1  57.2%, $color1 100%);
  }


  input.slider-resultat[type=range]::-webkit-slider-runnable-track {
    height: 30px;

    @include sliderBackground("orange")  ;
    /*border: 5px solid black;*/
  }

  input.slider-resultat[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-color: black;
    border: 3px solid black;
    background-color: transparent;
    transform-origin: 50% 50%;
    margin:0 0 0 0 ;
    margin-top: 6px ;
    margin-left: 0;
    transition: .3s;
    border-radius : 50% ; 
    
  }

  input.slider-resultat[type=range]:focus::-webkit-slider-runnable-track {
    @include sliderBackground("orange");
    /*border: 5px solid black;*/
  }

  /*FF*/
  input.slider-resultat[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
  }

  input.slider-resultat[type=range]::-moz-range-track {
    height: 30px;
    @include sliderBackground("orange");
    /*border: 5px solid black;*/
  }

  input.slider-resultat[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 14.3%;
    border-color: black;
    border: 3px solid black;
    border-radius: 0;
    background: black;
    background-color: transparent;
    transform-origin: 50% 50%;
    margin-top: -3px;
    border-radius: 0px ; 
  }

  /*hide the outline behind the border*/
  input.slider-resultat[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
  }

  input.slider-resultat[type=range]:focus::-moz-range-track {
    @include sliderBackground("orange");
    /*border: 5px solid black;*/
  }

  /* IE 10+*/
  input.slider-resultat[type=range]::-ms-track {
    height: 30px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    @include sliderBackground("orange");
    /*border: 5px solid black;*/

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
  }

  input.slider-resultat[type=range]::-ms-fill-lower {
    @include sliderBackground("orange");
    border: 5px solid black;
  }

  input.slider-resultat[type=range]::-ms-fill-upper {
    @include sliderBackground("orange");
    /*border: 5px solid black;*/
  }

  input.slider-resultat[type=range]::-ms-thumb {
    border: none;
    height: 40px;
    width: 14px;
    border-radius: 0;
    background: $radio-fill-color;
  }

  input.slider-resultat[type=range]:focus::-ms-fill-lower {
    background: #888;
  }

  input.slider-resultat[type=range]:focus::-ms-fill-upper {
    background: #ccc;
  }
}