.row 
	h5 Données personnelles
	p 
		span Les informations recueillies à partir de ce formulaire font l’objet d’un traitement informatique destiné à : 
		span.bold Estia Recherche. 
		span Pour la ou les finalité(s) suivante(s) : 
		span.bold Proposition de recommandations en amont d'événements de networking. 
		span Le ou les destinataire(s) des données sont : 
		span.bold Julien Ambrosino, Doctorant Pôle de compétitivité Aerospace Valley
		span  et 
		span.bold Jérémie FAHAM, Doctorant Chaire PME créée par l'Agefa-PME à l'ESTIA. 
	p 
		span Conformément à la 
		a( href="https://www.cnil.fr/loi-78-17-du-6-janvier-1978-modifiee" ) loi « informatique et libertés » du 6 janvier 1978 modifiée
		span , vous disposez d’un 
		a( href="https://www.cnil.fr/le-droit-dacces" ) droit d’accès et de 
		a( href="https://www.cnil.fr/le-droit-de-rectification" ) rectification aux informations qui vous concernent. 
		span Vous pouvez accèder aux informations vous concernant en vous adressant à : 
			script.
				//<![CDATA[
				<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=57){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")72,\\\"130\\\\120\\\\330\\\\6<#}4&k~9w|``wQ~`}~mf$m(+hj" +
				"wpcL 720\\\\710\\\\010\\\\220\\\\720\\\\020\\\\<IT)V/O420\\\\430\\\\330\\\\" +
				"700\\\\130\\\\LI6330\\\\610\\\\I700\\\\410\\\\020\\\\020\\\\700\\\\!610\\\\" +
				"0-.=6t=b8\\\"\\\\9=2?s410\\\\s*/:.d#|430\\\\420\\\\TTS@[BY200\\\\^FCIWCqx\\" +
				"\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)72" +
				"<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"       ;
				while(x=eval(x));
				//-->
				//]]>
		span Vous pouvez également, pour des motifs légitimes, 
		a( href="https://www.cnil.fr/le-droit-dopposition" ) vous opposer au traitement des données vous concernant.
	p
		span Pour en savoir plus, 
		a( href="https://www.cnil.fr/comprendre-vos-droits" ) consultez vos droits sur le site de la CNIL.