extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align Merci de votre contribution			
			p.
				Nous vous recontacterons personnellement courant Septembre pour vous remercier.
				Si vous désirez d’ores et déjà nous transmettre de plus amples feedbacks, commentaires, suggestions ou critiques nous sommes ouverts à toutes remarques de votre part afin de perfectionner ce questionnaire. 
			p.
				Contactez-nous aux adresses suivantes:  
			ul
				li j.faham@estia.fr
				li j.legardeur@estia.fr
				li d.masson@estia.fr

			include ./cnil.pug