nav
	.nav-wrapper
		img.img-logo.hide-on-med-and-down( src="/img/dialoJ.png")
		a.brand-logo( href="#" ) 
			span DialoJ
		a.button-collapse( data-activates="menuMobile")
			i.material-icons menu
		ul.right.hide-on-med-and-down
			include menu.pug
		ul.side-nav#menuMobile
			include menu.pug
