script!= "json="+json
form.col.s12.l10.offset-l1.main.z-depth-1#home
	.row
		.col.s12
			p.justified
				span Bravo, vous avez résolu 32 dialogies! Vous pouvez à présent consulter dans 
				span.bold MON PROFIL 
				span votre profil !
			//- p.justified
			//- 	span Si vous ne l’avez pas encore fait ou bien si vous souhaitez modifier les filtres que vous avez déjà appliqué auparavant: 
			//- p.justified 
			//- 	span Vous pouvez de nouveau filtrer ou préciser 
			//- 	span à nouveau les orientations que vous souhaitez retrouver chez les participants qui vous sont suggérés dans l'onglet 
			//- 	span.bold RECOMMANDATIONS
			//- p.justified
			//- 	span Pour ceci, pour chaque dialogie qui vous intéresse: 
			//- ol 
			//- 	li 
			//- 		span.bold Cliquez 
			//- 		span sur la mention bleue 
			//- 		a  Sur ce point je cherche un profil de personne particulier  
			//- 		span qui vous est proposée  à côté de chacune des 32 dialogies.
			//- 	li 
			//- 		span.bold Cochez 
			//- 		span l’une des 3 cases qui vous sont proposées en dessous de chacune des dialogies
			//- 	li Si vous cochez  « Quelconque » cette dialogie sera traitée normalement par l’outil de suggestion. 									
			p.justified 
				span Vous pouvez consulter dans l'onglet 
				span.bold RECOMMANDATIONS 
				span le classement des profils de participants à l’événement les plus proches de vous au regard des réponses apportées
 
