script!= "json="+json
.col.s12.l10.offset-l1.main.z-depth-1#recommandation
	.row
		.col.s12
			p Voici les 5 participants à cet événement dont le profil d'innovateur correspond le plus au regard des réponses que vous avez tous apportées et du jeu de filtres que vous avez appliqué. 
			p Les colonnes Stratégie,	Interactions,	Sécurité,	Objectifs et Valeurs correspondent aux 5 catégories de dialogies auxquelles vous avez répondues. La colonne Total correspond au potentiel de matching toutes catégories confondues. 
	.row
		.col.s12#tableWrapper
		