extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align= "Bienvenue dans DialoJ"		
			p Le thème de l'événement auquel vous êtes invité est : 
			h5.center-align= thematique			
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/form" ) Passer aux dialogies