extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align= "Bienvenue " + user.displayName
			p.justified 
				span Bonjour, afin d’optimiser votre participation à la journée pro du
				span.bold Design Summer Camp 2016 du Mercredi 2 Novembre 2016
				span , nous vous proposons de renseigner quelques informations concernant vos attentes et vos objectifs lors de l'événement. 
			
				span Cette consultation basée sur l’outil 
				span.brand Dialo-J
				span , vous prendra environ 
				span.bold 8 min.
			p.justified
				span.brand DialoJ 
				span.
					est composé de questions présentées sous la forme de dialogies. 			
					Les dialogies servent à exprimer des relations à la fois complémentaires et antagonistes entre deux orientations qui sont à priori opposées mais pas nécessairement incompatibles.
			p.justified.
					Pour chaque dialogie, il vous est demandé de vous positionner sur un slider afin de préciser votre opinion sur la question.
			p.justified
				span.bold Exemple: lors de mes prochaines vacances vous opterez pour un séjour à la plage ou plutôt à la montagne ? 
			div.center-align
				img.clip( src="/img/videoDialogie_2.gif" )
				span.italic Cliquez pour vous exprimer votre orientation.				
			p.justified
				span Tous les participants à l’événement répondent aux mêmes questions. 			
				span Le but est de vous permettre de prioriser vos objectifs lors de l’événement pour :
			ul.browser-default
				li faciliter l’organisation en amont de l’atelier,  
				li 
					span vous aider à 
					span.bold rencontrer et matcher 
					span avec des profils de personnes potentiellement intéressantes lors de l'événement. 			
			p.justified
				span La thématique de cet événement est : 
			h5= thematique
			p.justified
				span Vous répondrez à chaque question selon vos orientations par rapport à cette thématique. 

			p.justified
				span Chacun de vous recevra  par mail à 
				span.bold J-2 
				span  de l’événement un lien vers une page personnalisée contenant : 
				ul.browser-default
					li son propre profil,  
					li 
						span et 
						span ,bold des suggestions de personnes potentiellement intéressantes 
						span à rencontrer lors de l’événement à venir.
			p.justified.
				Il vous sera aussi possible à ce moment-là de filtrer avec plus de précision les profils automatiquement suggérés.			
			p.justified
				h5 Bon Matching à vous!
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/intro" ) Entrer dans l'outil