extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align= "Bienvenue " + user.displayName
			p.justified 
				span Bonjour, afin d’optimiser votre participation au club d’innovation 
				span.bold « Étoiles de Mer »  du Mercredi 12 Octobre 2016 
				span , nous vous proposons de renseigner quelques informations concernant vos attentes et vos objectifs lors de l’atelier.
			p.justified
				span Cette consultation basée sur l’outil 
				span.brand Dialo-J
				span , vous prendra environ
				span.brand 10 min.
			p.justified
				span.brand DialoJ 
				span est composé de 32 questions présentées sous la forme de dialogies. 
			p.justified
					Les dialogies servent à exprimer des relations à la fois complémentaires et antagonistes entre deux orientations qui sont à priori opposées mais pas nécessairement incompatibles.
			p.justified 
					Pour chaque dialogie, il vous est demandé de vous positionner sur un slider afin de préciser votre opinion sur la question.
			p.justified
				span.bold Exemple: lors de mes prochaines vacances vous opterez pour un séjour à la plage ou plutôt à la montagne ? 
			div.center-align
				img.clip( src="/img/videoDialogie_2.gif" )
				span.italic Cliquez pour vous exprimer votre orientation.				
			p.justified
				span Le but est de vous permettre de prioriser vos objectifs lors de l’événement pour :
			ul.browser-default
				li faciliter l’organisation en amont de l’atelier,  
				li vous aider à rencontrer et matcher avec des profils de personnes potentiellement intéressantes lors de l'événement. 
			p.justified
				span Tous les participants répondent aux mêmes questions. Puis chacun de vous recevra à   
				span.brand j-2 
				span  de l’événement un feedback personnalisé par mail contenant son profil ainsi que des suggestions de personnes potentiellement intéressantes à rencontrer lors de l’événement à venir. 
			p.justified
				span La thématique de cet événement est : 
			h5= thematique
			p.justified
				span Vous répondrez à chaque question selon vos orientations par rapport à cette thématique. 
			p.justified
				span.brand Important: 
				span  En dessous de chaque dialogie, vous avez en plus la possibilité de préciser, si vous le désirez, le type de profil de participants que vous recherchez en cochant l’une des 3 cases suivantes: 
			ul.browser-default
				li Similaire  
				li Quelconque  
				li Opposé-Complémentaire 			
			p.bold.
				Exemple: Cette année pour vos vacances d’été, vous opterez pour un séjour à la plage ou plutôt à la montagne ? (si vous avez déjà posé tous vos congés, vous ne partirez malheureusement pas en vacances cet été … désolé .  Vous cocherez donc la case : « Aucune des deux propositions ne reflète ma situation »)	
			.center-align
				img.clip( src="/img/videoDialogie_1.gif" )
				span.italic vous avez en plus la possibilité de cocher en dessous de chaque question l’une ou plusieurs des 4 propositions.
			p.justified
				Bon Matching à vous!
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/intro" ) Entrer dans l'outil