extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align= "Bienvenu " + user.nom  
			p.justified.
			 	Bienvenu dans DialoJ, le thème est : 
			h5 Comment chacun des acteurs du territoire (citoyens, entreprises, chercheurs, professeurs, étudiants …) peut-il contribuer à la soutenabilité du territoire ?
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/form" ) Passer aux dialogies