extends ./layout.pug
block content 
	.row
		.main.col.s12.l10.offset-l1.z-depth-1
			h2.center-align= "Bienvenue " + user.displayName
			p.justified 
				span Bonjour, afin d’optimiser votre participation au club d’innovation 
				span.bold « Étoiles de Mer »  du Mercredi 12 Octobre 2016 
				span , nous vous proposons de renseigner quelques informations concernant vos attentes et vos objectifs lors de l’atelier.
			
				span Cette consultation basée sur l’outil 
				span.brand Dialo-J
				span , vous prendra environ
				span.bold 10 min.
			p.justified
				span.brand DialoJ 
				span.
					est composé de 32 questions présentées sous la forme de dialogies. 			
					Les dialogies servent à exprimer des relations à la fois complémentaires et antagonistes entre deux orientations qui sont à priori opposées mais pas nécessairement incompatibles.
			p.justified.
					Pour chaque dialogie, il vous est demandé de vous positionner sur un slider afin de préciser votre opinion sur la question.
			p.justified
				span.bold Exemple: lors de mes prochaines vacances vous opterez pour un séjour à la plage ou plutôt à la montagne ? 
			div.center-align
				img.clip( src="/img/videoDialogie_2.gif" )
				span.italic Cliquez pour vous exprimer votre orientation.				
			p.justified
				span Tous les participants à l’événement répondent aux mêmes questions. 			
				span Le but est de vous permettre de prioriser vos objectifs lors de l’événement pour :
			ul.browser-default
				li faciliter l’organisation en amont de l’atelier,  
				li vous aider à rencontrer et matcher avec des profils de personnes potentiellement intéressantes lors de l'événement. 			
			p.justified
				span La thématique de cet événement est : 
			h5= thematique
			p.justified
				span Vous répondrez à chaque question selon vos orientations par rapport à cette thématique. 

			p.justified
				span Chacun de vous recevra  par mail à 
				span.bold J-2 
				span  de l’événement un lien vers une page personnalisée contenant : 
				ul.browser-default
					li son propre profil,  
					li et des suggestions de personnes potentiellement intéressantes à rencontrer lors de l’événement à venir.
			p.justified.
				Il vous sera aussi possible à ce moment-là de filtrer manuellement et avec plus de précision les profils automatiquement suggérés.
			p.justified.
				Cependant, si pendant que vous complétez une dialogie, vous souhaitez retrouver une certaine orientation dans les profils qui vous seront suggerés, vous avez dès à présent la possibilité de renseigner le type de profil que vous recherchez.
			p.justified.bold
				span Pour cela : 
				ol.browser-default
					li Cliquez sur la mention qui apparait en dessous de chacune des dialogies: « Sur ce point, je cherche un profil de personne particulier »
					li Cochez ensuite l'orientation que vous souhaiteriez retrouver dans les profils qui vous seront suggérés. 
					li Si vous cochez  « Quelconque » cette dialogie sera traitée normalement par l’outil de suggestion. 						
			.center-align
				img.clip( src="/img/videoDialogie_1.gif" )
				span.italic vous avez en plus la possibilité de cocher en dessous de chaque question l’une ou plusieurs des 4 propositions.
			p.justified
				span Bon Matching à vous!
			.row
				a.btn.waves-effects.waves-light.col.m6.offset-m3.s12( href="/intro" ) Entrer dans l'outil