form.col.s12.l10.offset-l1.main.z-depth-1#users
	.row
		.col.s12
			p 
				span Vous pouvez à présent consulter ci-dessous votre 
				span.bold Profil
	.row 
		.col.s12 
						div.collection
							each vote in evals								
								-
									var desc = vote.dialogie.replace( /(%s)|(%n)/gi, 
												function( match, p1, p2 ) { 
													if( p1 ) return  dialogie.southPole; 
													if ( p2 ) return dialogie.northPole; 
												} )											
								.collection-item.row.small-Vpadding.valign-wrapper.dialoJ-range( title=desc  )
									-	
										southPoleFont = "accent_"+(7 - vote.voteValue ); 
										northPoleFont = "accent_"+(vote.voteValue - 1 );
										evalId = ["utilité", "", "compréhension", "situation", "redondance", "mal à l'aise"]
										c1 = vote.value == -1;
										c2 = vote.value ==  0;
										c3 = vote.value ==  1;	
									.col.s12
										.row.no-Vmargin
											span.col.s4.right-align.valign( class=southPoleFont )= vote.southPole
											span.col.s4.center-align
												.row.no-Vmargin
													input.col.s12.center-align.no-Vmargin.slider-resultat( disabled, type="range" , min=1, max=7, value= vote.voteValue, )
											span.col.s4.valign( class=northPoleFont )= vote.northPole
										